.container
  .col-sm-6
    form(
      name="{{ form.name }}Form"
      ng-submit="uploadFile()"
      novalidate
    )
      .panel.panel-default
        .panel-heading
          h3.panel-title
        .panel-body
          .form-group
            input.form-control(
              type="file"
              name="files"
              accept=".csv"
              ngf-select
              ngf-multiple="false"
              ng-model="form.files"
              required
            )

          input.btn.btn-block(
            type="submit"
          )
    p Upload status: {{ lastUpdate.status }}
    ul(ng-if="lastUpdate.status !== 'PENDING'")
      li(
        ng-repeat="error in lastUpdate.errors"
      ) "{{ error.message }} at line {{ error.line }}"

